
.authorization-block{
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-block__title{
    color: #000;
font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.8px;
}

.authorization-block__input{
    width: 650px;
    height: 70px;
    border-radius: 25px;
    border: 3px solid rgba(80, 67, 153, 0.53);
    background: rgba(151, 151, 151, 0.00);
    margin-top: 20px;
    text-indent: 40px;
    font-size: 1.5em;
}


.authorization-block__entry-button{
    width: 250px;
    height: 60px;
    border-radius: 27px;
    background: #504398;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
}

.authorization-block__entry-button span {
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.72px;
}

.authorization-block__registration-offer{
    margin-top: 40px;
}

.authorization-block__registration-offer span{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
}

.authorization-block__registration-offer span a {
    color: #504398;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
}

.stroke{
    width: 260.5px;
    border-bottom: 1px solid #d3d0e5;
    margin: 20px 0;
}


.authorization-block__api-text{
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.72px;
}



.authorization-block__api-images {
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.api-circle{
    width: 52px;
    height: 52px;
    background-color: #F1F5FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}