.carousel {
    margin-top: 50px;
}

.carousel img {
    border-radius: 30px;
}


.slideshow-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
}


.mySlides{
    text-align: center;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    /* color: white; */
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.text{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 3%;
    left: 15%;
    text-align: left;
}

.text__title{
    color: #FFF;
font-family: Montserrat;
/* font-size: 3vw; */
font-size: 1.5vw;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.text__description{
    color: #FFF;
font-family: Montserrat;
/* font-size: 2vw; */
font-size: 0.7vw;
font-style: normal;
font-weight: 500;
/* line-height: 130.4%; */
letter-spacing: 0.13px;
margin: 20px 0px;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6 ease;
}

.active, dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-name: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}


.text__button{
    width: 30%;
    height: 50px;
    border-radius: 16px;
    background-color: #7A3DA4;
    position: relative;
    display: flex;
    justify-content: center;
}

.text__button-text{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    /* left: 55px; */
    top: 35%;
}

@media (max-width: 1440px){
    .text__title{
    font-size: 2vw;
    }
    .text__description{
    font-size: 1.3vw;
    }
}
@media (max-width: 1000px){
        .text__title{
        font-size: 3vw;
        }
        .text__description{
        font-size: 2vw;
        }
    }


@media (max-width: 500px){
    .text__button{
        height: 30px;
        margin-bottom: 10px;
    }
    .text__button-text {
        font-size: 2.5vw;
        margin-bottom: 10px;
    }
}