*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    background: linear-gradient(180deg, #594EAB 0%, #1C032D 100%);
    border-radius: 0 30px 30px 0;
}
.sidebar-menu{
    width: 190px;
    position: fixed;
}
.logo{
    color: #B6B6B6;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.6px;
}
.language{
    color: #909090;
font-family: Inter;
font-size: 15.839px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.713px;
margin: 20px 0px 110px 0px;
}
.sidebar-menu__choose li {
    list-style: none;
    color: var(--text, #E7E7E7);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 10px;
}
.sidebar-menu__choose{
    position: absolute;
    right: -47px;
}

.sidebar-menu__choose li:not(:first-child) {
    padding-top: 20px;
}


.sign-in-button{
    width: 210px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid #FFF;
    margin-top: 500px;
}



.sign-in-button__text {
    color: var(--text, #E7E7E7);
text-align: center;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.17px;
margin-top: 8%;
}

.page{
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}


.container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    width: 1300px;
    margin: 0;
    height: 2000px;
    
}

.hat-images{
    justify-content: start;
}

.hat-images img{
    margin: 0px 10px;
}

.hat-images img:nth-child(1){
    border-radius: 0px 10px 10px 0px;
}

.hat-images img:nth-child(n+2){
    border-radius: 10px;
}

.conditions{
    margin: 20px 0;
}

.conditions span {
    color: #504398;
    cursor: pointer;
}


.authorization-block__subject{
    display: flex;
    justify-content: space-between;
}

.authorization-block__subject-student, 
.authorization-block__subject-school {
    width: 400px;
    height: 90px;
    border-radius: 36.529px;
    border: 3px solid #504398;
    background: rgba(80, 67, 152, 0.00);
    margin: 60px 20px 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.authorization-block__subject-student, 
.authorization-block__subject-school span {
    color: #453A81;
    text-align: center;
    font-family: Montserrat;
    font-size: 21.647px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.974px;
}

.subject-active {
    color: #FFF;
    background: #504398;
}

/* .conditions input {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #A29BC9;
    background: rgba(217, 217, 217, 0.00);
    vertical-align: sub;
} */